/* Basado en https://www.webtips.dev/memory-game-in-javascript */

@font-face {
    font-family: Fredoka;
    src: url(./FredokaOne-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(325deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    font-family: Fredoka;
}

.juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controles {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

button {
    background: #282A3A;
    color: #FFF;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
}

.deshabilitado {
    color: #757575;
}

.estadisticas {
    color: #FFF;
    font-size: 14pt;
}

.contenedor-tablero {
    position: relative;
}

.tablero,
.gana {
    border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.tablero {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.contenedor-tablero.volteado .tablero {
    transform: rotateY(180deg) rotateZ(50deg);
}

.contenedor-tablero.volteado .gana {
    transform: rotateY(0) rotateZ(0);
}

.tarjeta {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.frente-tarjeta,
.respaldo-tarjeta {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.respaldo-tarjeta {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

.tarjeta.volteada .frente-tarjeta {
    transform: rotateY(180deg) rotateZ(50deg);
}

.tarjeta.volteada .respaldo-tarjeta {
    transform: rotateY(0) rotateZ(0);
}

.gana {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
}

.texto-gana {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.resaltar {
    color: #6f00fc;
}
